/* ============ Layout ============ */
body {
    @include padding-h($globalPadding);
    @include padding-v($globalPadding);
    
    @include onScreen('tablet-portrait-up') {
        @include padding-h($globalPaddingM);
        @include padding-v($globalPaddingM);
    }
    
    @include onScreen('macbook-up') {
        @include padding-h($globalPaddingL);
        @include padding-v($globalPaddingL);
    }
}

section {
    margin-bottom: 2rem;

    @include onScreen('tablet-portrait-up') {
        margin-bottom: 2.5rem;
    }

    @include onScreen('macbook-up') {
        margin-bottom: 3.5rem;
    }
}
