/* ============ Interface ============ */

// spacing
$globalPadding: 10px;
$globalPaddingM: 1.5rem;
$globalPaddingL: 3.5rem;
$spacingXS: 0.25rem;
$spacingS: 0.5rem;
$spacingM: 1rem;
$spacingL: 2.5rem;
$spacingXL: 6rem;

// body padding
$bodyPadding_V: 10px;
$bodyPadding_H: 15px;
$bodyPaddingM_V: 15px;
$bodyPaddingM_H: 40px;
$bodyPaddingL_V: 20px;
$bodyPaddingL_H: 60px;

// font sizes
$smallFontSizeMobile: 0.8rem;
$smallFontSize: 0.8rem;
$baseFontSizeMobile: 16px;
$baseFontSize: 16px;

$mediumFontSizeMobile: 21px;
$mediumFontSizeMobileProject: 17px;
$mediumFontSize: 21px;
$largeFontSizeMobile: 32px;
$largeFontSize: 32px;
$largerFontSizeMobile: 2.5rem;
$largerFontSize: 3.5rem;

// hard coded font sizes
// $dashSpace: 6px;

// colors
$black: #000;
$white: #fff;
$grey: #F2F2F2;
$bodyBackground: #FAFAFA;
$selection: #ADFF00;
$green: $selection;
$blue: #1400FF;

// menu
// $menuHeight: 128px;

// transition
$transitionDefault: 250ms ease;
$transitionFast: 1750ms ease;

// width
$twoColumns: 16.666667%;
$fourColumns: 33.3333333%;
$fiveColumns: 41.666667%;
$tenColumns: 83.333333%;
